{% extends "base.html" %}

{% block title %}Grimoire{% endblock %}

{% block body %}
<h1>Home</h1>

<section id="recently-watched">
    <h2>Recently Watched</h2>

    <ol>
        {% for entry in recently_watched %}
        <li>
            [{{ entry.watched_at | datetime }}]
            {% match entry.media %}
            {% when RecentlyWatchedEntryMedia::Movie { title } %}
            <a href="{{ entry.url }}">{{ title }}</a>
            {% when RecentlyWatchedEntryMedia::Episode { title, number, season_number, show_title } %}
            <a href="{{ entry.url }}">{{ show_title }} - {{ season_number | fmt("{:0>2}") }}x{{ number | fmt("{:0>2}") }} - {{ title }}</a>
            {% endmatch %}
        </li>
        {% endfor %}
    </ol>
</section>

{% endblock %}