{% extends "base.html" %}

{% block title %}Grimoire{% endblock %}

{% block body %}
<h1>Home</h1>

<section id="recently-watched">
    <h2>Recently Watched</h2>

    <ol>
        {% for entry in recently_watched %}
            <li>
                Title: {{ entry.title }}
                {% if let Some(text) = entry.season_title %}
                    Season: {{ text }}
                {% endif %}
                {% if let Some(text) = entry.show_title %}
                    Show: {{ text }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</section>

{% endblock %}