{% extends "base.html" %}

{% block body %}
<h1>{{ title }}</h1>

<span><b>Release Year:</b> {{ release_year }}</span>
{% if let Some(episode_runtime) = episode_runtime %}
<span><b>Average Runtime:</b> {{ episode_runtime }} minutes</span>
{% endif %}

<br>

{% if let Some(tagline) = tagline %}
<i>{{ tagline }}</i>
{% endif %}

{% if let Some(overview) = overview %}
<p>{{ overview }}</p>
{% endif %}

<h2>Seasons</h2>

<ol>
    {% for season in seasons %}
    <li>
        <a href="/show/{{ id }}/season/{{ season.number }}">{{ season.title }}</a>
    </li>
    {% endfor %}
</ol>

{% endblock %}